node_modules/
node_modules
./node_modules
.vendor
./vendor
composer.lock
vendor
./vendor
/vendor
.vendor
./composer.lock
php.tags
./php.tags
.php.tags
*.log*
*.logs
*allowed_tokens.txt*
./.idea
.idea
/.idea
env
*.env
/*.env
.env
public/uploads
./public/uploads
public/uploads/*.jpg
public/uploads/*.png
public/uploads/*.jpeg
public/uploads/*.jpg
tools
/tools
./tools
.tools
tools/
.php-cs-fixer.cache
/.php-cs-fixer.cache
/composer.lock
.composer.lock
./composer.lock
/.composer.lock
